@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic);

$body-background-color: #f0f0f0;
$default-text-color: #0f0f0f;

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
  background-color: #0f0f0f
}

